audio-keyboard {
    display: inline-block;
    border: 20px groove black;
}

.key {
    position: relative;
    font-size: 10px;
    float: left;
    border: 1px solid #000;
    padding: 30px 4px 2px 4px;
    margin: 0px -1px 0px 0px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.key.black {
    color: #fff;
    background-color: #000;
    padding: 10px 2px 2px 2px;
    margin: 0px -7px 0px -6px;
    z-index:2;
}

.key:hover {
    background: #f00;
}

.key:active, .key.active {
    background: #ff0;
}
